body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  background:#e1c6f7 ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
  text-align: center;
}

.login-card h2 {
  margin-bottom: 10px;
  color: #4c1d95;
}

.login-card p {
  margin-bottom: 20px;
  color: #7e22ce;
}

.login-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-card input {
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.login-card button {
  padding: 12px;
  background: #9333ea;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #7e22ce;
}

.forgot-password {
  font-size: 13px;
  color: #7e22ce;
  text-decoration: none;
  margin-top: 5px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.signup-link {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}

.signup-link a {
  color: #9333ea;
  text-decoration: none;
  font-weight: 600;
}

.signup-link a:hover {
  text-decoration: underline;
}
