h2 {
  text-align: center;
  margin-top: 30px;
  color: #7e22ce;
}

main {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

textarea {
  height: 120px;
  resize: vertical;
}

.row {
  display: flex;
  gap: 20px;
}

.col {
  flex: 1;
}

button[type="submit"] {
  width: 100%;
  background: #7e22ce;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
}

button[type="submit"]:hover {
  background: #6b21a8;
}

.logo{
  color: white;
}